.footer
{   
    background-color: var(--secondary-text-color);
    padding: 2em;
    text-align: center;
}

.footer__title
{
    color: var(--secondary-bg-color);
    font-weight: 400;
}

@media screen and (min-width: 1024px)
{
    .footer
    {
        padding: 4em ;
    }

    .footer__title
    {
        font-size: 24px;
    }
}