.header__menu
{
    width: 46px;
    height: 46px;
    background-image: url(../images/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    display: inline-block;
}

.header 
{
    background-color: var(--secondary-bg-color);
    position: relative;
}

.container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__image__menu
{
    padding: 1em;
    width: 40px;
    height: 40px;
}

.container__image__travel
{
    width: 50px;
    padding: 1em;
}

.container__image__profile
{
    width: 40px;
    padding: 1em;
}

.list-menu
{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__menu__button:checked ~ .list-menu
{
    display: block;
}

.list-menu__title, .list-menu__item
{
    padding: 1em;
    background-color: var(--secondary-bg-color);
}

.list-menu__title
{
    font-weight: 700;
    color: var(--highlighted-text-color)
}

.list-menu__link
{
    background: var(--text-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.list-menu__item:hover
{
    background: var(--secondary-text-color);
}

.list-menu__item:hover > .list-menu__link
{
    -webkit-text-fill-color: var(--secondary-bg-color);
    text-decoration: none;
}

.container__menu__button 
{
    display: none;
}

.container__title
{
    display: none;
}

.container__title__2
{
    display: none;
}

@media screen and (min-width: 1024px) 
{
    .container__title
    {
        background-color: transparent;
        display: block;
        color: var(--secondary-text-color);
        font-weight: 500;
        font-size: 20px;
    }

    .container__title b
    {
        font-weight: 700;
        font-style: italic;
    }

    .container__title__2
    {
        display: block;
        color: var(--secondary-text-color); 
        font-weight: 500;
    }

    .container__logo
    {
        flex: 1;
        display: flex;
        align-items: center;
    }

    .container__aboutme
    {
        white-space: nowrap;
        margin-right: 2em;
        flex: 0;
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width: 1728px) 
{
    .header
    {
        padding: 0.5em;
    }

    .container__title__2
    {
        font-size: 24px;
    }

    .container__title
    {
        font-size: 24px;
    }
}